@charset "utf-8";
/* CSS Document */

.backg
{
	overflow:hidden;
	position:fixed;
	z-index:-1;
}
.head
{
	min-width:1000px;
	min-height:100%;
	height:auto !important;
	margin:0;
	overflow:hidden;
	
	
}